@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Inter Custom';
	src: url('./fonts/Inter/Inter-VariableFont_slnt,wght.ttf') format('truetype');
	font-display: swap;
}

@layer base {
	input {
		@apply tw-bg-white;
		-webkit-appearance: none;
		position: relative;
		width: 100px;
		white-space: nowrap;
		overflow: hidden;
	}

	body.overlay:after {
		@apply tw-fixed tw-top-0 tw-bottom-0 tw-left-0 tw-right-0 tw-bg-black tw-opacity-25 tw-z-[9];
		content: '';
	}

	body.overlay {
		height: 100vh;
		overflow: hidden;
	}

	.sef-hide-scrollbar::-webkit-scrollbar {
		display: none;
	}

	.sef-hide-scrollbar {
		-ms-overflow-style: none;
		/* IE and Edge */
		scrollbar-width: none;
		/* Firefox */
	}

	.clicked:active {
		transform: scale(0.9);
		transition: 0.2 ease-in-out;
	}

	.text-elipsis-4 {
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;


		@supports (-webkit-line-clamp: 4) {
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: initial;
			display: -webkit-box;
			-webkit-line-clamp: 4;
			-webkit-box-orient: vertical;
		}
	}
}

/* Select 2 */
.select2-container {
	/* The container where the selectbox is housing*/
	@apply tw-relative tw-box-border tw-align-middle tw-inline-block tw-m-0;
}

.select2-container .select2-selection--single {
	/* Selection box itself */
	@apply tw-box-border tw-cursor-pointer tw-block tw-select-none tw-border tw-rounded;
}

.select2-container .select2-selection--single .select2-selection__rendered {
	/* DIV inside Selection box with text, clear button and arrow down*/
	@apply tw-block tw-h-6 tw-pl-1 tw-pr-6 tw-truncate tw-flex tw-items-center;
}

.select2-container .select2-selection--single .select2-selection__clear {
	/* The DIV where the X is housing to clear the chosen option */
	@apply tw-relative tw--m-1;
}

.select2-container[dir="rtl"] .select2-selection--single .select2-selection__rendered {
	/*@apply;*/
}

.select2-container .select2-selection--multiple {
	@apply tw-box-border tw-overflow-hidden tw-h-4 tw-cursor-pointer tw-block tw-select-none;
}

.select2-container .select2-selection--multiple .select2-selection__rendered {
	@apply tw-inline-block tw-pl-2 tw-truncate tw-whitespace-nowrap;
}

.select2-container .select2-search--inline {
	/* Search box*/
	@apply tw-float-left;
}

.select2-container .select2-search--inline .select2-search__field {
	@apply tw-box-border tw-border tw-pl-1 tw-my-1 tw-w-full tw-text-base;
}

.select2-container .select2-search--inline .select2-search__field::-webkit-search-cancel-button {
	@apply tw-appearance-none;
}

.select2-dropdown {
	/* Dropdown area after the arrow down is clicked */
	@apply tw-absolute tw-block tw-w-auto tw-box-border tw-bg-white tw-border tw-border-slate-300 tw-z-50 tw-float-left;
}

.select2-results {
	@apply tw-block tw-text-black;
}

.select2-results__options {
	@apply tw-list-none tw-m-0 tw-p-0;
}

.select2-results__option {
	/* The rows with results that you see after dropdown.
	Increase tw-p-1 to tw-p-2 to have more space between results */
	@apply tw-p-2 tw-select-none;
}

.select2-results__option[aria-selected] {
	@apply tw-cursor-pointer;
}

.select2-container--open .select2-dropdown {
	/* Dropdown container opened and results are shown*/
	@apply tw-mt-3 tw-left-0;
}

.select2-container--open .select2-dropdown--above {
	/* The left and right tw-borders of the option rows */
	@apply tw-rounded-lg tw-border-slate-300 tw-shadow;
}

.select2-container--open .select2-dropdown--below {
	/* The left and right tw-borders of the option rows */
	@apply tw-rounded-lg tw-border-slate-300 tw-shadow;
}

.select2-search--dropdown {
	/* Search dropdown element*/
	@apply tw-block tw-p-2;
}

.select2-search--dropdown .select2-search__field {
	/* Search box itself where you can enter text*/
	@apply tw-h-10 tw-p-1 tw-bg-[#EFEFEF] tw-box-border tw-rounded-lg tw-border tw-border-slate-300 tw-outline-none tw-ps-3 tw-pe-3;
	width: 100%;
}

.select2-search--dropdown .select2-search__field::-webkit-search-cancel-button {
	@apply tw-appearance-none;
}

.select2-search--dropdown.select2-search--hide {
	@apply tw-hidden;
}

.select2-close-mask {
	@apply tw-block tw-w-12 tw-min-w-full tw-m-0 tw-p-0;
	border: 0;
	position: fixed;
	left: 0;
	top: 0;
	min-height: 100%;
	height: auto;
	width: auto;
	opacity: 0;
	z-index: 99;
	background-color: #fff;
	filter: alpha(opacity=0);
}

.select2-hidden-accessible {
	border: 0 !important;
	clip: rect(0 0 0 0) !important;
	-webkit-clip-path: inset(50%) !important;
	clip-path: inset(50%) !important;
	height: 1px !important;
	overflow: hidden !important;
	padding: 0 !important;
	position: absolute !important;
	width: 1px !important;
	white-space: nowrap !important;
}

/* 
	Default template settings:
*/

.select2-container--default .select2-selection--single {
	/* Selection bar - Self */
	@apply tw-p-2 tw-h-12 tw-flex tw-flex-row tw-items-center tw-rounded-lg tw-border tw-border-solid tw-border-slate-300;
}

/* .select2-container--default .select2-selection--single .select2-selection__rendered {
	@apply tw-text-[#575757];
} */

.select2-container--default .select2-selection--single .select2-selection__clear {
	/* Selection bar - Clear button - If this property is enabled*/
	@apply tw-cursor-pointer tw-float-right tw-text-red-700;
}

.select2-container--default .select2-selection--single .select2-selection__placeholder {
	/* Selection bar - Color of the placeholder text before selection - If this property is enabled */
	@apply tw-text-gray-600;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
	/* Selection bar - DIV where the arrow pointing down is living*/
	@apply tw-absolute tw-right-4;
}

.select2-container--default[dir="rtl"] .select2-selection--single .select2-selection__clear {
	/* Selection bar - Clear button - If this property is enabled from right to left*/
	@apply tw-float-left tw-ml-4;
}

.select2-container--default[dir="rtl"] .select2-selection--single .select2-selection__arrow {
	/* Placement of the dropdown arrow when in rtl mode */
	@apply tw-left-0 tw-right-auto;
}

.select2-container--default.select2-container--disabled .select2-selection--single {
	/* Selection by property disabled*/
	@apply tw-cursor-default tw-bg-gray-300;
}

.select2-container--default.select2-container--disabled .select2-selection--single .select2-selection__clear {
	/* Selection bar - Hide the clear cross when selection bar is disabled*/
	@apply tw-hidden;
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
	border-color: #888;
	border-width: 0 4px 5px 4px;
}

.select2-container--default .select2-selection--multiple {
	@apply tw-p-1 tw-min-h-full tw-h-full tw-border tw-border-solid tw-rounded tw-shadow tw-bg-white;
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered {
	@apply tw-box-border tw-list-none tw-m-0 tw-px-1 tw-min-w-full tw-flex tw-items-center;
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered li {
	@apply tw-list-none;
}

.select2-container--default .select2-selection--multiple .select2-selection__clear {
	@apply tw-float-right tw-cursor-pointer tw-mt-1 tw-mr-2 tw-p-1;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
	@apply tw-bg-white tw-text-[#575757] tw-border tw-cursor-default tw-rounded tw-my-1 tw-mr-1 tw-px-2 tw-float-left;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
	@apply tw-text-[#575757] tw-cursor-pointer tw-inline-block tw-mr-1;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover {
	@apply tw-text-[#575757];
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
	@apply tw-border-2 tw-outline-none;
}

.select2-container--default.select2-container--disabled .select2-selection__choice__remove {
	@apply tw-hidden;
}

.select2-container--classic .select2-selection--multiple .select2-selection__choice {
	@apply tw-bg-gray-300 tw-border-2 tw-shadow tw-rounded tw-float-left tw-cursor-default tw-mt-1 tw-mr-1 tw-px-1;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
	/* The tw-border of the search textbox */
	@apply tw-border-solid;
}

.select2-container--default .select2-search--inline .select2-search__field {
	/* Search textbox */
	@apply tw-border-none tw-bg-transparent tw-outline-none tw-shadow-none tw-select-text;
}

.select2-container--default .select2-results>.select2-results__options {
	/* Hight of the dropdown zone where the options or results are tw-visible */
	@apply tw-h-full tw-max-h-64 tw-overflow-y-auto;
}

.select2-container--default .select2-results__option[role=group] {
	/* No clue what this does */
	@apply tw-p-0;
}

/* .select2-container--default .select2-results__option[aria-disabled=true] {
	@apply tw-text-[#575757];
} */

.select2-container--default .select2-results__option[aria-selected=true] {
	/* The already selected option row color */
	@apply tw-bg-gray-300;
}

.select2-results__option--selected {
	@apply tw-hidden;
}

.select2-container--default .select2-results__option .select2-results__option {
	padding-left: 1em;
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__group {
	padding-left: 0;
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__option {
	margin-left: -1em;
	padding-left: 2em;
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
	margin-left: -2em;
	padding-left: 3em;
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
	margin-left: -3em;
	padding-left: 4em;
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
	margin-left: -4em;
	padding-left: 5em;
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
	margin-left: -5em;
	padding-left: 6em;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
	/* Background color and text color of the options rows when select is open */
	@apply tw-bg-gray-100 tw-text-black;
}

.select2-container--default .select2-results__group {
	/* Have no idea what this is for */
	@apply tw-cursor-default tw-block;
	padding: 6px;
}
